body
{
    background-color: #303030;
    color: #ffffff;
    font-family: muli, sans-serif;
    font-style: normal;
    font-weight: 200;
}

#container
{
    width:1270px;
    margin-left:auto;
    margin-right:auto;
}
.rectangle
{
    width: 1230x;
    margin: 20px;
}
.square
{
    width: 50%;
    float:left;
}
#logo
{
    font-family: 'Mulish', sans-serif;
    font-size: 70px;
    width:755px;
    float:left;
}
#clock
{
    font-family: 'Mulish', sans-serif;
    font-size: 70px;
    width:475px;
    float:left;
   
}
.tile1
{
    margin: 10px;
    width: 295px;
    height: 215px;
    background-color: #666666;
    float: left;
    text-align: center;
    
}

.tile1:hover
{
    background-color: #383838;
}

.tile2
{
    margin: 10px;
    width: 610px;
    height: 215px;
    background-color: #666666;
    text-align: center;
}

.tile2:hover
{
    background-color: #383838;
}

.tile3
{
    margin: 10px;
    width: 610px;
    height: 215px;
    background-color: #666666;
    text-align: center;
}

.tile3:hover
{
    background-color: #383838;
}

.tile5
{
    margin: 10px;
    width: 595px;
    height: 450px;
    background-color: #666666;
    text-align: center;
}

.tile5:hover
{
    background-color: #383838;
}

a.tilelink
{
    color:#ffffff;
    text-decoration: none;
    display: block;
    width: 295px;
    height: 73px;
    
}
a.tile2link
{
    color:#ffffff;
    text-decoration: none;
    display: block;
    width: 610px;
    height: 73px;
    
}

a.tile3link
{
    color:#ffffff;
    text-decoration: none;
    display: block;
    width: 611px;
    height: 73px;
    
}

a.tile5link
{
    color:#ffffff;
    text-decoration: none;
    display: block;
    width: 595px;
    height: 150px;
    
}

.github
{
    margin: 15px;
    width: 180px;
    height: 180px;
    float: left;
    background-color: #303030;
}
.instagram
{
    margin: 15px;
    width: 180px;
    height: 180px;
    float: left;
    background-color: #303030;
}
.twitter
{
    margin: 15px;
    width: 180px;
    height: 180px;
    float: left;
    background-color: #303030;
}
.rectangle1
{
    font-size: 25px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}
.text
{
    font-family:'Mulish', sans-serif;
    font-size: 25px;
    margin-top: 10px;
}
.text2
{
    font-family:'Mulish', sans-serif;
    font-size: 50px;
    margin-top: 10px;
}