<header class="row" style="display: grid;
place-items: center; ">
  <div class="col-lg-8 ">
    <h1>Aleksander Machon</h1>
    <div class="ikonki" style="display: flex;    
    justify-content: center; 
    gap: 20px;            
    margin-bottom: 1rem;">
    <p>
    <a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank" style="font-size: 15px; text-align: center;"><img src="{{ site.baseurl }}images/github.svg" alt="github.machonaleks2" style="width: 50px;"></a>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/aleksander-machon-bb0bb11a9/" target="_blank" style="font-size: 15px; text-align: center;"> <img src="{{ site.baseurl }}images/linkedin.svg" alt="linkedin" style="width: 50px;"> </a>
    </p>
    <p>
    <a href="mailto:{{ site.mail.domain }}" target="_blank" style="font-size: 15px; text-align: center;"><img src="{{ site.baseurl }}images/email.svg" alt="machon.aleks@gmail.com" style="width: 50px;"></a>
    </p>
  </div>
  </div>
</header>

{% include menu.html %}
