<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="">Aleksander Machon</h1>
    <p>
    <a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank" style="font-size: 15px; text-align: center;"><span class="string">{{ site.source_code.server }}<span class="reserved"></span></span></a>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/aleksander-machon-bb0bb11a9/" target="_blank" style="font-size: 15px; text-align: center;"><span class="string">{{ site.linkedin.server }}</span>
    </p>
    <p>
    <a href="mailto:{{ site.mail.domain }}" target="_blank" style="font-size: 15px; text-align: center;"><span class="string">{{ site.mail.domain }}<span class="reserved"></span></a>
    </p>
    <!-- <p>
            printf(<a href="https://{{ site.blog.nick }}.{{ site.blog.server }}" target="_blank"><span class="string">"https://<span class="reserved">%s</span>.{{ site.blog.server }}<span class="reserved">\n</span>"</span></a>,nick);
        </p> -->
  </div>
</header>

{% include menu.html %}
