body
{
    background-color: #FFDDE2FF;
    color: #ffffff;
    font-family: muli, sans-serif;
    font-style: normal;
    font-weight: 200;
}

#containeram
{
    width:1270px;
    margin-left:auto;
    margin-right:auto;
}


.tile
{
    
    float:center;
    margin: 10px;
    width: 1230px;
    height: 685px;
    background-color: #9ED9CCFF;
    text-align: center;
}

.text
{
    font-family:'Mulish', sans-serif;
    font-size: 25px;
    margin-top: 10px;
}

.text2
{
    font-family:'Mulish', sans-serif;
    font-size: 40px;
    margin-top: 10px;
    font-weight: bold;

}

#aboutme
{
    font-family: 'Mulish', sans-serif;
    font-size: 140px;
    width: 900px;
    margin-top: 60px;
    float:left;
    margin-left: 180px;
}

#aboutme2
{
    font-family: 'Mulish', sans-serif;
    font-size: 140px;
    width: 800px;
    float:left;
    margin-top: 30px;
    margin-left: 210px;
}

#logo
{
    font-family: 'Mulish', sans-serif;
    font-size: 70px;
    width:755px;
    float:left;
}
#clock
{
    font-family: 'Mulish', sans-serif;
    font-size: 70px;
    width:475px;
    float:left;
   
}

.rectangle
{
    width: 1230x;
    margin: 20px;
    color: #008C76FF;
}



.rectangle1
{
    font-size: 25px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

a.tilelinkmp
{
    color:#008C76FF;
    text-decoration: none;
}