body
{
    background-image: url(img/pink_rice.png);
    color: #ffffff;
    font-family: muli, sans-serif;
    font-style: normal;
    font-weight: 200;
}

#containeram
{
    width:1270px;
    margin-left:auto;
    margin-right:auto;
}

.tile
{
    
    float:center;
    margin: 10px;
    width: 1230px;
    height: 50px;
    background-image: url(img/pink_rice.png);
    text-align: center;
}

.text
{
    font-family:'Mulish', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#logo
{
    font-family: 'Mulish', sans-serif;
    font-size: 70px;
    width:755px;
    float:left;
}
#clock
{
    font-family: 'Mulish', sans-serif;
    font-size: 70px;
    width:475px;
    float:left;
   
}

.rectangle
{
    width: 1230x;
    margin: 20px;
    color: #825ba9;
}


.rectangle1
{
    font-size: 25px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

a.tilelinkmp
{
    color:#825ba9;
    text-decoration: none;
}

.xd
{
    float:center;
    margin: 10px;
    width: 1230px;
    height: 3px;
    background-color: #000000;
    text-align: center;
}

.xd2
{
    float:center;
    margin: 10px;
    margin-bottom: 39px;
    width: 1230px;
    height: 3px;
    background-color: #000000;
    text-align: center;
}

.project1
{
    float:center;
    margin: 10px;
    width: 1230px;
    height: 500px;
    background-color: #b897d8;
    text-align: center;
}

.text2
{
    font-family: 'Red Hat Mono', monospace;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    
}

.scrollup
{
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url("img/up.png") no-repeat 0px 0px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display:none;
}